input{
    all: unset;
    border: 1px solid black;
  width: 100px;
  height: 20px;
  display: inline-block;
  background-color: green;
}
input:checked{
  background-color: red;
  width: 100px;
  height: 20px;
}
H3 { 
text-align: center 
}

